.square {
    flex: 1;
    color: #D8D8D8;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #000;
}

.text {
    flex: 1;
    text-align: center;
}

.marker {
    @extend .text;
    cursor: pointer;
    color: red;
}

.active {
    background: red;
}
